<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/projectmanagement</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1111</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>






        <mapping resource="com/nastation/pm/hbm/User.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/PermissionScheme.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Project.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Icon.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Permission.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/ProjectComponent.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/ProjectCategory.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Role.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/IssueType.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Resolution.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/IssuePriority.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/IssueStatus.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/IssueChangeLog.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/FilterSummary.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/ProjectIssueSequence.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/FilterParameterValue.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/SearchRequest.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Comment.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Issue.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/Group.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/ProjectUser.hbm.xml" />
        <mapping resource="com/nastation/pm/hbm/GroupUser.hbm.xml" />


        <!-- -->










    </session-factory>
</hibernate-configuration>
